@implements IDisposable
@inject AppState AppState
@inject TabService TabService
@inject IJSRuntime JSRuntime

<CascadingValue Value=this IsFixed="true">
    <div class="tabset d-flex" style="@GetTabSetStyle()" @ref="m_divTabSetRef">
        <button class="tabset-button-scroll-left p-2" @onclick="@(async () => await ScrollLeft())" />
        @foreach (var tab in Tabs)
        {
            <div class="@GetTabSetButtonWrapperClass(tab) p-2 d-flex">
                <button class="text-nowrap" @onclick="@(async () => await SetActiveTab(tab))">@tab.Title</button>
                <button class="tabset-button-close pl-1" @onclick="@(() => RemoveTab(tab))">&times;</button>
            </div>
        }
        <button class="tabset-button-scroll-right p-2" @onclick="@(async () => await ScrollRight())" />
    </div>

    <div @ref="m_divPlaceholderRef" />

    @foreach (var tab in Tabs)
    {
        <DynamicTabContent @key="tab" CssClass="@GetTabClass(tab)" ParentTab="tab">
            @RenderTabComponent(tab)
        </DynamicTabContent>
    }
</CascadingValue>