@implements IDisposable
@inject AppState AppState
@inject TabService TabService
@inject IJSRuntime JSRuntime

<CascadingValue Value=this IsFixed="true">
    @if (Tabs.Count >= 0)
    {
        @if (AppState.RoutingType != Models.RoutingType.Mobile)
        {
            <div class="tab">
                @foreach (var tab in Tabs)
                {
                    <button style="@GetTabButtonStyle(tab)" @onclick="@(() => SetActiveTab(tab))">@tab.Title</button>
                    <button style="@GetTabButtonStyle(tab)" @onclick="@(() => RemoveTab(tab))">X</button>
                }
            </div>
        }

        <div @ref="m_divPlaceholderRef" />

        @foreach (var tab in Tabs)
        {
            <DynamicTabContent @key="tab" CssClass="@GetTabClass(tab)" ParentTab="tab">
                @RenderTabComponent(tab)
            </DynamicTabContent>
        }
    }
</CascadingValue>