@inject AppState AppState
@inject TabService TabService

@switch (AppState.RoutingType)
{
    case Models.RoutingType.Default:
        <a class="@CssClass" href="@Page">@Text</a>
        break;
    case Models.RoutingType.Desktop:
    case Models.RoutingType.Mobile:
        <a class="@CssClass" @onclick="@OnClick" href="">@Text</a>
        break;
}
