@inject AppState AppState

<div class="dropdown @SettingsDropdownCssClass">
    <button class="btn btn-secondary dropdown-toggle" type="button" @onclick="ToggleSettings">Routing</button>
    <div class="dropdown-menu @SettingsDropdownCssClass">
        <a class="dropdown-item" href="" @onclick="@(e => OnClick("Default"))">Default</a>
        <a class="dropdown-item" href="" @onclick="@(e => OnClick("Desktop"))">Desktop</a>
        <a class="dropdown-item" href="" @onclick="@(e => OnClick("Mobile"))">Mobile</a>
    </div>
</div>
@*<a class="nav-link dropdown-toggle" href="#" role="button" @onclick="ToggleSettings">Settings</a>
    <div class="dropdown-menu @SettingsDropdownCssClass">
        <a class="dropdown-item" href="#" @onclick="@(e => OnClick("Default"))">Default</a>
        <a class="dropdown-item" href="#" @onclick="@(e => OnClick("Desktop"))">Desktop</a>
        <a class="dropdown-item" href="#" @onclick="@(e => OnClick("Mobile"))">Mobile</a>
    </div>*@
