@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<DropDownList Items="@SettingsItems" ItemSelected="@ItemSelected" ButtonImageClass="settings-icon" ButtonText="Test" />
<DropDownList Items="@SettingsItems" ItemSelected="@ItemSelected" ButtonImageClass="settings-icon" ButtonText="Test" />

@code {
    private int currentCount = 0;

    private string[] SettingsItems = new string[] { "Default", "Desktop", "Mobile" };

    private void ItemSelected(string option)
    {
        Console.WriteLine(option);
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
